:root{
--font-family:Montserrat;
--button-color:rgba(247, 138, 184, 1)
}

@font-face {
    font-family: Larianti;
    src: url(/larianti.otf);
}

body {
    font-family:var(--font-family);
    font-weight:300;
    overflow-x: hidden;
}
.btn-color {
    background-color:var(--button-color);
}
.hero-bg-flow{
    
    position: relative;
    top: 10px;
    border: 10px solid;
}

.explore {
background-color:#93C69E;
font-size: 24px;
}

.explore-title {
        font: normal normal normal 24px/74px Larianti;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
}

.explore-sub-title{
    font: normal normal bold 24px/29px ;        
}

.explore-detail p{
    font: normal normal normal 24px/32px !important;
    font-weight: 500;
 
}

.explore-button {
    font-size: 24px;
}

.larianti-font{
    font-family: Larianti,Regular;

}
.box-shadow {
    box-shadow: 131px -40px 0px 7px rgba(233, 241, 245, 1);
        -webkit-box-shadow: 131px -40px 0px 7px rgba(233, 241, 245, 1);
        -moz-box-shadow: 131px -40px 0px 7px rgba(233, 241, 245, 1);
  
}

.Certifications button{
    background-color:var(--button-color) ;
}
.pet-items div {
        width: 150px;
        height: 146px;
        transform: matrix(1, 0, 0, 1, 0, 0);
        background: rgba(252, 242, 244, 1) 0% 0% no-repeat padding-box;
        border-radius: 16px;
        opacity: 1;
}

.pet-items .img-div {
    display:flex;
    justify-content:center;
    align-items:center;
        width: 80px;
        height: 80px;
        /* UI Properties */
        background: rgba(255, 255, 255, 1) 0% 0% no-repeat padding-box;
        opacity: 1;
        border-radius: 50%;
}
.about-avanti {
    position: relative;
    isolation: relative;
}
.background-design {
    position:absolute;
  background:  rgba(252, 242, 244, 1);
  height:41.875rem;
  width:21.25rem;
  z-index: -1;
top: 25%;
}
.about-float-text {
    position: absolute;
    top: 25px;
}

.button-3d {
    text-shadow: 0 5px 10px rgba(0, 0, 0, .2);
        box-shadow: 0 15px 30px rgba(59, 2, 97, .4);
        transition: all .5s;
}
.button-3d:hover {
    transform: rotateX(25deg);
    text-shadow: 0 10px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 25px 30px rgba(59, 2, 97, .4);
}

.content-section {
    padding: 0 15rem;
}


@media only screen and (max-width : 600px) {
    .content-section {
        padding: 0 1rem !important;
    }

}
